@use "inputs/button.scss" as btn;
@use "inputs/text.scss" as text;

.shell-form {

    background: var(--bg-1);
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .body {
        
        height: 100%;
        padding: 15px;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;

        h1 {
            --color: var(--fg);
            font-size: 16pt;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 15px;
            height: 35px;
            margin-right: auto;

            i {
                font-size: 12pt;
                color: var(--color);
            }
        }

        p {
            margin: 0;
            font-size: 10pt;
            padding: 0 10px;
            margin-right: auto;
        }
        
        .text-input {

            @include text.input();

        }

    }

    .footer {
        
        height: 60px;
        min-height: 60px;
        max-height: 60px;
        padding: 15px;
        background: var(--bg);
        display: flex;
        gap: 15px;
        align-items: flex-end;
        justify-content: flex-end;

        button {

           @include btn.button();
           
            &:first-of-type {
                @include btn.primary();
            }

        }


    }

}
