@mixin button () {

    border-radius: 3px;
    border: none;
    box-shadow: var(--ombre-1);
    padding: 5px;
    display: flex;
    gap: 5px;
    font-size: 9pt;
    font-weight: bold;
    background: var(--bg-1);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: background ease 50ms;

    &:hover {
        background: var(--bg-2);
    }

    &:active {
        background: var(--bg);
        color: var(--fg-clair);
    }

}

@mixin primary () {

    background: var(--accent-sec);
    &:hover {
        background: var(--accent);
    }
    &:active {
        background: var(--accent-ter);
    }

}