@mixin input () {

    width: calc(100% - 10px);
    height: 30px;
    background-color: var(--bg-1);
    border-radius: 5px;
    border: var(--bordure);
    box-sizing: border-box;
    margin: 2px 5px;

    input {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        height: 100%;
        background: none;
        color: var(--fg);
        border: none;
        border-bottom: 2px solid var(--bg-3);
        padding: 0 5px;
        border-radius: inherit;

        &:hover, &.hover, &:focus { 
            outline: none; 
            border-color: var(--accent);
        }

        &:invalid {
            border-color: red;
            color: red;
        }

    }

}