@use "../aero.scss" as aero;

.win {

    /* Position de la fenêtre */    
    --x: 5;
    --y: 20;
    --w: 360px;
    --h: 240px;
    --minw: 240px;
    --minh: 64px;
    --p: 6px;
    --top-height: 28px;
    --nav-enabled: 0;
    --nav-height: calc(33px * var(--nav-enabled));

    display: block;
    position: absolute;

    height: max-content;
    width: max-content;
    
    padding: var(--p);
    padding-top: 0;
    top: calc(var(--y) * 1px);  
    left: calc(var(--x) * 1px);

    box-sizing: content-box;
    
    @include aero.theme();

    box-shadow: 1px 1px 5px -1px black;
    z-index: auto;

    opacity: 1;

    .bg { z-index: 0; }
    .outline { z-index: 0; }

    .win-wrap {

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: var(--top-height) var(--nav-height) auto;
        font-family: sans-serif;
        
        height: 100%;
        width: 100%;
        user-select: none;
        max-width: min-content;
        max-height: min-content;
        position: relative;
        
        .win-bar {
            height: 100%;
            width: 100%;
            max-width: 100%;
            display: flex;
            align-items: center;
            font-size: 5pt;
            position: relative;
            user-select: none;
            overflow: hidden;

            * { 
                user-select: none;
            }

            img { height: 100%; padding: 4px; box-sizing: border-box; user-select: none; }
            h1 { 
                margin: 0; font-weight: normal; 
                text-shadow: white 0px 0px 5px, white 0px 0px 4px, white 0px 0px 3px;
                user-select: none;
                width: 100%;
                height: 100%;
                overflow: hidden;
                line-height: var(--top-height);
                padding-left: 5px;
            }

            .controls {

                display: flex;
                flex-direction: row-reverse;
                height: 100%;
                user-select: none;

                .btn {

                    position: relative;
                    height: 18px;
                    width: 30px;
                    border: none;
                    border-left: black 1px solid;
                    border-bottom: black 1px solid;
                    --hover-color: rgb(116, 184, 252);
                    --bg-gradient: none;
                    background: transparent;
                    user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::after {
                        content: '';
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        transition: ease box-shadow .1s;
                    }

                    i { 
                        color: white; 
                        user-select: none;
                        text-shadow: black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px ; 
                        height: 100%;
                        width: 100%;
                        line-height: 16px;
                        font-size: 10px;
                        text-align: center;
                        position: absolute;
                        top: 0; left: 0;
                        border: 1px solid rgba($color: #ffffff, $alpha: .5);
                        box-sizing: border-box;
                        font-weight: bold;
                    }

                    &:first-of-type { 
                        width: 45px; 
                        border-right: black 1px solid;
                        border-bottom-right-radius: calc(aero.$aeroBRadius / 2);
                        i, &::after { 
                            border-bottom-right-radius: calc(aero.$aeroBRadius / 2); 
                        }
                        --bg-gradient: radial-gradient(circle, hsl(0, 66%, 43%), transparent 70%);
                        background-color: hsl(0, 56%, 37%);
                        --hover-color: hsl(0, 66%, 43%);
                    }

                    &:last-of-type {
                        border-bottom-left-radius: calc(aero.$aeroBRadius / 2);
                        i, &::after { border-bottom-left-radius: calc(aero.$aeroBRadius / 2); }
                    }
                    
                    background-image: linear-gradient(to bottom, rgba(255,255,255,.4) , rgba(255,255,255,.1) 50%, transparent 50%), var(--bg-gradient);

                    &:hover {

                        background-color: darken(rgb(0, 69, 172), 5%);
                        --bg-gradient: radial-gradient(circle at 50% 90%, rgb(116, 184, 252) 20%, transparent 50%); 

                        &:first-of-type {
                            background-color: darken(rgb(206, 15, 15), 4%);
                            --bg-gradient: radial-gradient(farthest-corner at bottom, rgb(255, 153, 0) 0%, transparent 60%); 
                        }
                        &::after { box-shadow: 0 0 8px 0px var(--hover-color), 0 0 8px 0px var(--hover-color); }

                    }

                    &:active { 
                        background-color: darken(rgb(0, 69, 172), 20%);
                        &:first-of-type {
                            background-color: darken(rgb(206, 15, 15), 15%);

                        }
                    }

                }


            }

        }

        .win-nav {
            overflow: hidden;
            margin-top: auto;
            margin-bottom: 5px;
            height: 24px;
            width: 100%;
            display: flex;
            align-items: end;
            border-radius: 1px;
            & > *, & > * ~ * {
                @include aero.cont();
                height: 24px;
                --opacity: 0.25;
                background: rgba(255,255,255,0.5);
                border-radius: 2px;
            }
        }

        .cont {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            width: var(--w); height: var(--h);  
            min-width: var(--minw); min-height: var(--minh); 

            .app {
                background: #16161d; 
                width: 100%; 
                height: 100%; 
                display: block;
            }

            iframe {
                border: none;
            }

        }

    }
        
    &.demi-v {
        height: 100% !important;
        width: 50% !important;
        top: 0;
        bottom: 0;
        &.left {
            left: 0;
        }
        &.right { 
            right: 0;
            left: unset;
        }
        .win-wrap {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &.demi-h {
        width: 100% !important;
        height: 50% !important;
        left: 0;
        right: 0;
        &.top {
            top: 0;
        }
        &.bottom {
            bottom: 0;
            top: unset;
        }
        .win-wrap {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &.quart {
        
        width: 50% !important;
        height: 50% !important;

        &.nw {
            top: 0; left: 0;
        }

        &.ne {
            top: 0; right: 0; left: unset;
        }

        &.sw {
            bottom: 0; left: 0; top: unset;
        }

        &.se {
            bottom: 0; right: 0; left: unset; top: unset;
        }

        .win-wrap {
            max-width: 100%;
            max-height: 100%;
        }


    }

    &.maxi {

        padding: 0;
        border-radius: 0;
        .bg, .outline { border-radius: 0; border: 0px; }
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100% !important;
        width: 100% !important;
        border: 0px;
        --x: 0 !important;
        --y: 0 !important;
        --top-height: 20px !important;

        .win-wrap {

            // grid-template-rows: 19px auto;
            max-width: 100%;
            max-height: 100%;
        
            .win-bar {
                padding-left: 3px;
                padding-right: 3px;
                h1 { line-height: 19px; }
            }

            .cont {
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                &::after { 
                    border-bottom: 0px;
                    border-left: 0px;
                    border-right: 0px;
                }
            }
            
        }

    }

    &.maxi, &.demi-h, &.demi-v, &.quart {
        
        box-sizing: border-box;

        .win-wrap .cont {
            height: 100%; width: 100%;
        }

    }

    &.resize {

        &.x, &.w { cursor: ew-resize; }
        &.y, &.h { cursor: ns-resize; }

        &.nesw, &.xy, &.hw { cursor: nwse-resize; }
        &.nwse, &.xh, &.yw { cursor: nesw-resize; }

    }

    &.inhibit {

        .win-wrap .cont {
            pointer-events: none;
        }

    }

    &.dblTopBar {

        padding-top: var(--p);

        &.maxi {
            padding-top: 0;
        }

        .win-wrap .win-bar .btn {

            border-top: black 1px solid;

            &:first-of-type {
                border-top-right-radius: calc(aero.$aeroBRadius / 2);
                i, &::after { 
                    border-top-right-radius: calc(aero.$aeroBRadius / 2); 
                }
            }
            
            &:last-of-type {
                border-top-left-radius: calc(aero.$aeroBRadius / 2);
                i, &::after { border-top-left-radius: calc(aero.$aeroBRadius / 2); }
            }

        }

    }

    &.mini {

        pointer-events: none;
        opacity: 0;

    }

    &.fullscreen {

        .win-wrap .cont {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            width: auto;
            z-index: 5000;
            border: none;
            &::after {
                border: none;
            }
        }

    }

    &.transparent {
        
        .win-wrap {
            opacity: 0;
            pointer-events: none;
        }

    }

}