.explorer-proto {

    background: var(--bg-1);

    padding: 15px;

    h1 {
        margin: 0;
        text-decoration: underline;
    }

    ul {

        list-style: none;
        margin: 0;
        padding: 5px 15px;
        
        li {

            width: 100%;
            border: var(--bordure);
            border-radius: 5px;
            margin-bottom: 5px;
            padding: 0 5px;
            padding-bottom: 5px;
            position: relative;
            transition: all ease 25ms;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 5px;
                background: var(--bg-2);
                transition: all ease 25ms;
            }

            &:hover {
                background: var(--bg-2);
                &::after {
                    background: var(--accent);
                }
            }

            &:active {
                background: var(--bg-1);
                &::after {
                    background: var(--accent-ter);
                }
            }

        }

    }

}