.terminalWidget {

    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-1);
    overflow: hidden;

    .xterm {
        width: 100%;
        height: 100%;
    }

}