@use "../acrylic.scss" as ac;

.fullscreen-popup {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: all;
    opacity: 1;

    transition: opacity ease 500ms;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.4);
        backdrop-filter: blur(2px);
    }

    .fullscreen-popup-cont {

        z-index: 11;

        border: var(--bordure);
        border-radius: 10px;

        max-width: 100%;
        box-sizing: border-box;

        overflow: hidden;

    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

}