@use "../inputs/button.scss" as btn;

.tiledLayout {

    height: 100%;
    width: 100%;
    box-sizing: border-box;

    position: relative;
    display: grid;
    
    gap: 5px;

    grid-template-columns: auto 600px;
    grid-template-rows: auto 30px;

    .terminalWidget {
        grid-column: 2;
        grid-row: 1/3;

        border-radius: 5px;
    }

    .tiledContainer {
        
        --s: 0;
        height: 100%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;

        .tiled {

            --n: 0;
            width: 100%;
            height: 100%;
            position: absolute;

            left: calc((var(--n) - var(--s)) * 100%);
            transition: left .25s ease;

        }

    }
    
    .tiledNavbar {
        height: 100%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        * { user-select: none; }

        span {
            // width: 100%;
            text-align: center;
            padding: 0 20px;
        }

        button {

            @include btn.button();

            &:first-of-type {
                max-width: 30px;
                min-width: 30px;
                max-height: 30px;
                min-height: 30px;
            }
        }

    }

}

@media (max-aspect-ratio: 1/1) {

.tiledLayout {
    grid-template-columns: auto 30px;
    grid-template-rows: auto min(45%, 350px);

    .terminalWidget {
        grid-column: 1/3;
        grid-row: 2;
    }


    .tiledNavbar {
        flex-direction: column;

        span {
            padding: 30px 0;
        }
    }
}

}